$secondary-text: #1b1b1b;
$background: #a1a1a1;
$background-2: #797979;
$primary-text: #575757;
$secondary-bg: #2c061f;
$tertiary-bg: #D89336;

$header-font: 'IBM Plex Sans';
$body-font: 'Inter';

@font-face {
  font-family: Terminal;
  src: url('./fonts/clacon2.ttf');
}

button {
  cursor: pointer;
}

body {
  margin: 0;
  background-color: $background;
  color: $primary-text;
  font-family: $body-font;

  display: flex;
  flex-direction: column;
  align-items: center;

  div {
    margin: 0;
    height: 20vh;
    width: 60%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
  }
}

#btn-div-1 > button {
  width: 10rem;
  height: 3rem;
  margin: 1rem;
  padding: 0.5rem;
  font-family: $body-font;
  font-weight: bold;
  border: 1px black solid;
  background-color: rgba(0,0,0,0);
  cursor: pointer;
  border-radius: 2px;
  transition: 0.2s all;

  &:hover {
    background-color: rgba(0,0,0,0.2);
  }

  &:active {
    background-color: rgba(0,0,0,0.4);
    transition: 0s all;
  }
}

h1 {
  margin: 0;
  color: $secondary-text;
  font-family: $header-font;
  font-size: 4rem;
  text-align: center;
  margin-bottom: 1rem;
}

hr {
  margin: 0;
  height: 0.5px;
  width: 40vw;
  background-color: black;
  border: none;
}

#input-div-1 {
  justify-content: center;
  z-index: 0;
  position: relative;
  width: 20rem;

  input[type='text'] {
    position: absolute;
    background: transparent;
    border: 1px solid black;
    z-index: 1;
    font-family: $primary-text;
    font-size: 2rem;
    height: 2.5rem;
    width: 100%;
    border-radius: 2px;
    opacity: 0.6;


    &:focus {
      outline: none;
    }
  }
  
  p {
    width: 100%;
    text-align: left;
    position: absolute;
    color: rgb(40, 40, 131);
    font-size: 2rem;
    padding: 0.25rem;
    transition: 0.2s all;
    z-index: -1;
  }

  &:focus-within {
    
    p {
      transform: translateY(-50%) scale(0.5);
      transform-origin: top left;
    }

    input[type='text'] {
      opacity: 1;
    }
  }
}

#btn-div-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  button {
    font-family: Terminal;
    width: 6rem;
    height: 1.5rem;
    font-size: 1rem;
    border-left: rgb(242, 238, 229) 2px solid;
    border-top: rgb(242, 238, 229) 2px solid;
    background-color: rgb(212, 208, 199);
    border-bottom: rgb(82, 78, 69) 2px solid;
    border-right: rgb(82, 78, 69) 2px solid;

    &:active {
      border-bottom: rgb(242, 238, 229) 2px solid;
      border-right: rgb(242, 238, 229) 2px solid;
      border-left: rgb(82, 78, 69) 2px solid;
      border-top: rgb(82, 78, 69) 2px solid;
    }

    span {
      text-decoration: underline;

    }
  }
}

#btn-div-3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  div {
    width: 8rem;
    height: 3rem;
    position: relative;

    .button-bg {
      position: absolute;
      width: 100%;
      height: 100%;
      border: 1px solid black;
      box-sizing: border-box;
    }

    button {
      box-sizing: border-box;
      background-color: black;
      border: 1px solid black;
      font-family: $body-font;
      font-size: 1rem;
      color: white;
      font-weight: lighter;
      letter-spacing: 1px;
      height: 100%;
      width: 100%;
      outline: none;
      transform: translate(-4px, -4px);
      transition: 0.2s all;

      &:hover {
        transform: translate(-2px, -2px);
        color: #777;
      }

      &:active {
        transform: translate(0px, 0px);
      }
    }
  }
}

#crosshairs-div {
  background: black;
  height: min-content;
  width: min-content;
}

#btn-div-4 {
  div {
    height: 35px;
    width: 37px;
    cursor: pointer;
    border: 1px solid black;

    &:hover > #three-bar-menu {
      width: 0;
      
      &::after {
        transform: rotate(45deg);
      }

      &::before {
        transform: rotate(-45deg);
      }
    }
  }

  #three-bar-menu {
    height: 2px; 
    width: 26px;
    background-color: black;
    position: relative;
    border: none;
    border-radius: 1px;
    transition: 0.2s all;

    &::after {
      height: 2px;
      width: 26px;
      content: '';
      display: block;
      background: black;
      transform: translateY(10px);
      position: absolute;
      border-radius: 1px;
      transition: 0.2s all;
    }

    &::before {
      height: 2px;
      width: 26px;
      content: '';
      display: block;
      background: black;
      transform: translateY(-10px);
      position: absolute;
      border-radius: 1px;
      transition: 0.2s all;
    }
  }

  #up-and-down {
    border: none;
    position: relative;
    transition: 0.2s all;

    &::after {
      height: 2px;
      width: 20px;
      border-radius: 4px;
      background-color: black;
      content: '';
      position: absolute;
      transform: translateX(-7px) rotate(45deg);
    }

    &::before {
      height: 2px;
      width: 20px;
      border-radius: 4px;
      background-color: black;
      content: '';
      position: absolute;
      transform: translateX(7px) rotate(-45deg);
    }

    &:hover {
      transform: rotate(180deg);
    }
  }
}

#btn-div-5 {
  
  button {
    background: none;
    border: none;
    font-family: 'Inter';
    font-size: 2rem;
    position: relative;

    &:focus {
      outline: none;
    }

    &::after {
      height: 2px;
      content: '';
      display: block;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      width: 0;
      background: black;
      transition: 0.2s all ease-out;
    }

    &:hover::after {
      width: 100%;
    }
  }
}

#btn-div-6 {
  div {
    height: min-content;
    width: min-content;

    div {
      height: 2.5rem;
      width: 8rem;
      position: absolute;
      border: 1px black solid;
      transition: 0.2s all;
      opacity: 1;
      transform: scale(1);
      border-radius: 5px;
    }
  
    &:hover div {
      transform: scale(125%);
      opacity: 0;
    }

    &:hover button {
      transform: scale(110%);
    }
  
    button {
      position: absolute;
      height: 2.5rem;
      width: 8rem;
      font-family: 'Inter';
      font-weight: bold;
      font-size: 1rem;
      border: none;
      z-index: 0;
      border-radius: 5px;
      background: none;
      transition: 0.2s all;
    }
  }
}