$secondary-text: #1b1b1b;
$background: #dddddd;
$background-2: #797979;
$primary-text: #575757;
$secondary-bg: #2c061f;
$tertiary-bg: #D89336;

$header-font: 'IBM Plex Sans';
$body-font: 'Inter';

@font-face {
  font-family: Terminal;
  src: url('./fonts/clacon2.ttf');
}

button {
  cursor: pointer;
}

body {
  margin: 0;
  background-color: $background;
  color: $primary-text;
  font-family: $body-font;

  display: flex;
  flex-direction: column;
  align-items: center;

  div {
    margin: 0;
    height: 20vh;
    width: 60%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
  }

  #byline {
    margin: 0;
    font-size: 12px;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;

    a {
      font-weight: bold;
      cursor: pointer;
      font-style: italic;

      &:hover {
        text-decoration: underline;
      }

      img {
        height: 15px;
        padding: 3px;
      }
    }
  }
}

#btn-div-1 > button {
  width: 10rem;
  height: 3rem;
  margin: 1rem;
  padding: 0.5rem;
  font-family: $body-font;
  font-weight: bold;
  border: 1px black solid;
  background-color: rgba(0,0,0,0);
  cursor: pointer;
  border-radius: 2px;
  transition: 0.2s all;

  &:hover {
    background-color: rgba(0,0,0,0.2);
  }

  &:active {
    background-color: rgba(0,0,0,0.4);
    transition: 0s all;
  }
}

h1 {
  margin: 0;
  color: $secondary-text;
  font-family: $header-font;
  font-size: 4rem;
  text-align: center;
  margin-bottom: 1rem;
}

hr {
  margin: 0;
  height: 0.5px;
  width: 40vw;
  background-color: black;
  border: none;
}

#input-div-1 {
  justify-content: center;
  z-index: 0;
  position: relative;
  width: 20rem;

  input[type='text'] {
    position: absolute;
    background: transparent;
    border: 1px solid black;
    z-index: 1;
    font-family: $primary-text;
    font-size: 2rem;
    height: 2.5rem;
    width: 100%;
    border-radius: 2px;
    opacity: 0.6;


    &:focus {
      outline: none;
    }
  }
  
  p {
    width: 100%;
    text-align: left;
    position: absolute;
    color: rgb(40, 40, 131);
    font-size: 2rem;
    padding: 0.25rem;
    transition: 0.2s all;
    z-index: -1;
  }

  &:focus-within {
    
    p {
      transform-origin: left;
      transform: translateY(-50%) scale(0.5);
    }

    input[type='text'] {
      opacity: 1;
    }
  }
}

#btn-div-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  button {
    font-family: Terminal;
    width: 6rem;
    height: 1.5rem;
    font-size: 1rem;
    border-left: rgb(242, 238, 229) 2px solid;
    border-top: rgb(242, 238, 229) 2px solid;
    background-color: rgb(212, 208, 199);
    border-bottom: rgb(82, 78, 69) 2px solid;
    border-right: rgb(82, 78, 69) 2px solid;

    &:active {
      border-bottom: rgb(242, 238, 229) 2px solid;
      border-right: rgb(242, 238, 229) 2px solid;
      border-left: rgb(82, 78, 69) 2px solid;
      border-top: rgb(82, 78, 69) 2px solid;
    }

    span {
      text-decoration: underline;

    }
  }
}

#btn-div-3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  div {
    width: 8rem;
    height: 3rem;
    position: relative;

    .button-bg {
      position: absolute;
      width: 100%;
      height: 100%;
      border: 1px solid black;
      box-sizing: border-box;
    }

    button {
      box-sizing: border-box;
      background-color: black;
      border: 1px solid black;
      font-family: $body-font;
      font-size: 1rem;
      color: white;
      font-weight: lighter;
      letter-spacing: 1px;
      height: 100%;
      width: 100%;
      outline: none;
      transform: translate(-4px, -4px);
      transition: 0.2s all;

      &:hover {
        transform: translate(-2px, -2px);
        color: #777;
      }

      &:active {
        transform: translate(0px, 0px);
      }
    }
  }
}

#crosshairs-div {
  background: black;
  height: min-content;
  width: min-content;
}

#btn-div-4 {
  div {
    height: 35px;
    width: 37px;
    cursor: pointer;
    border: 1px solid black;

    &:hover > #three-bar-menu {
      width: 0;
      
      &::after {
        transform: rotate(45deg);
      }

      &::before {
        transform: rotate(-45deg);
      }
    }
  }

  #three-bar-menu {
    height: 2px; 
    width: 26px;
    background-color: black;
    position: relative;
    border: none;
    border-radius: 1px;
    transition: 0.2s all;

    &::after {
      height: 2px;
      width: 26px;
      content: '';
      display: block;
      background: black;
      transform: translateY(10px);
      position: absolute;
      border-radius: 1px;
      transition: 0.2s all;
    }

    &::before {
      height: 2px;
      width: 26px;
      content: '';
      display: block;
      background: black;
      transform: translateY(-10px);
      position: absolute;
      border-radius: 1px;
      transition: 0.2s all;
    }
  }

  #up-and-down {
    border: none;
    position: relative;
    transition: 0.2s all;

    &::after {
      height: 2px;
      width: 20px;
      border-radius: 4px;
      background-color: black;
      content: '';
      position: absolute;
      transform: translateX(-7px) rotate(45deg);
    }

    &::before {
      height: 2px;
      width: 20px;
      border-radius: 4px;
      background-color: black;
      content: '';
      position: absolute;
      transform: translateX(7px) rotate(-45deg);
    }

    &:hover {
      transform: rotate(180deg);
    }
  }
}

#btn-div-5 {
  
  button {
    background: none;
    border: none;
    font-family: 'Inter';
    font-size: 2rem;
    position: relative;

    &:focus {
      outline: none;
    }

    &::after {
      height: 2px;
      content: '';
      display: block;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      width: 0;
      background: black;
      transition: 0.2s all ease-out;
    }

    &:hover::after {
      width: 100%;
    }
  }
}

#btn-div-6 {
  div {
    height: min-content;
    width: min-content;

    div {
      height: 2.5rem;
      width: 8rem;
      position: absolute;
      border: 1px black solid;
      transition: 0.2s all;
      opacity: 1;
      transform: scale(1);
      border-radius: 5px;
    }
  
    &:hover div {
      transform: scale(125%);
      opacity: 0;
    }

    &:hover button {
      transform: scale(110%);
    }
  
    button {
      position: absolute;
      height: 2.5rem;
      width: 8rem;
      font-family: 'Inter';
      font-weight: bold;
      font-size: 1rem;
      border: none;
      z-index: 0;
      border-radius: 5px;
      background: none;
      transition: 0.2s all;
    }
  }
}

#btn-div-7 {

  > div {
    height: 100px;
    width: 100px;
    overflow: visible;

    > div {
      background-color: rgba(0, 0, 0, 0.1);
      height: 50px;
      width: 50px;
      position: absolute;
      border-radius: 50%;
    }

    p {
      color: black;
      background-color: $background;
      box-sizing: border-box;
      border: 2px solid black;
      height: 50px;
      width: 50px;
      text-align: center;
      line-height: 50px;
      font-family: 'Inter';
      font-size: 2.2rem;
      position: absolute;
      cursor: pointer;
      transition: 0.2s all;
      border-radius: 50%;

      &:hover {
        transform: translate(-5px, -5px);
      }
    }
  }
}

#card-div-1 {
  height: 20rem;
  
  > div {

    filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.363));

    > div {
      width: 500px;
      background-color: rgba(187, 49, 49, 0.658);
      background-size: cover;
      height: 200px;
      transition: clip-path 0.2s;
      clip-path: polygon(0 0, 100% 0, 100% 100%, 100% 100%, 0 100%, 0 0);
      box-shadow: 0px 0px 10px black;
  
      &:hover {
        clip-path: polygon(80px 20px, 440px 20px, 440px 160px, 400px 95%, 40px 95%, 40px 50px);

        div {
          transform: scale(0.75);
        }
      }
  
      > div {
        font-family: 'Inter';
        transition: 0.2s all;
  
        width: 70%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
  
        h1 {
          margin: 0;
          color: rgba(190, 190, 190);
          text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
          transition: 0.2s all;
        }
  
        p {
          margin: 0;
          color: rgba(190, 190, 190);
          text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
          transition: 0.2s all;
        }
      }
    }
  }
}

#btn-div-8 {

  button {
    background-color: transparent;
    border: none;
    font-size: 1rem;
    font-family: 'Inter';
    padding: 1rem;
    padding-top: 0;
    padding-bottom: 0;
    border-bottom: 2px solid transparent;
    transition: 0.2s all;
    transform-origin: left;

    &:hover {
      transform: translateY(-5px);
      border-bottom-color: rgb(235, 152, 0);
      background-color: whitesmoke;
    }

    &:active {
      transform: translateY(4px);
    }
  }
}

#card-div-2 {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  height: unset;
  width: 70%;
  margin-top: 5rem;
  margin-bottom: 5rem;

  div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    border: 1px solid black;
    height: 10rem;
    width: 20rem;
    margin: 1rem;
    background-color: rgb(218, 218, 218);
    transition: 0.1s all;
    cursor: pointer;
    box-sizing: border-box;
    box-shadow: 4px 4px 0px black;

    h1 {
      padding-left: 1rem;
      padding-right: 1rem;
      text-transform: uppercase;
      font-size: 2rem;
      margin-bottom: 0.5rem;
    }

    p {
      color: $secondary-text;
      padding-left: 1rem;
      padding-right: 1rem;
      margin-top: 0.5rem;
      font-size: 1rem;
    }

    hr {
      height: 2px;
      background-color: rgb(255, 255, 0);
      border-right: 5px solid black;
      width: 25%;
      margin-left: 1rem;
      transition: 0.3s all;
    }

    &:hover {
      transform: translate(0px, -5px);

      hr {
        width: 50%;
      }
    }
  }
}

#card-div-3 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  width: 70%;
  height: unset;
  margin-top: 5rem;
  margin-bottom: 5rem;

  div {
    height: unset;
    width: unset;
    display: flex;
    flex-direction: column;
    border: 1px black solid;
    border-left: 4px solid black;
    transition: 0.2s all;
    background-image: linear-gradient(-25deg,rgb(212, 255, 212), rgb(147, 247, 147));
    margin: 1rem;

    h1 {
      text-align: right;
      width: 100%;
      padding-right: 1rem;
      height: unset;
      font-size: 3rem;
      margin: 1rem;
      margin-top: 1rem;
      margin-bottom: 0;
      color: black;

      &::selection {
        background: none;
      }
    }

    &:hover {
      border-left: 20px black solid;
    }

    p {
      text-align: right;
      width: 100%;
      padding-right: 1rem;
      height: unset;
      font-size: 0.75rem;
      margin: 1rem;
      margin-top: 0;
      margin-bottom: 1rem;
      transition: 0.2s all;

      &:hover {
        text-decoration: underline;
        cursor: url('../images/arrow-right.png'), auto;
      }

      &::selection {
        background: none;
      }
    }
  }
}

#card-div-4 {
  height: unset;
  width: 70%;
  margin-top: 5rem;
  margin-bottom: 5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  
  #card-4-1 {
    background-color: rgb(255, 255, 117);
    border-left: 2px black dashed;
    transform: rotate3d(-1, 7, -5, 80deg);
    
    &:hover {
      transform: rotate3d(0, 0, 0, 0);
    }
  }

  #card-4-2 {
    background-color: rgb(113, 255, 113);
    border-bottom: 2px black dashed;
    transform: rotate3d(5, -6, 2, 50deg);
    
    &:hover {
      transform: rotate3d(0, 0, 0, 0);
    }
  }

  #card-4-3 {
    background-color: rgb(41, 41, 255);
    border-left: 2px black dashed;
    transform: rotate3d(12, 1, -7, 80deg);
    
    h1 {
      color: white;
    }
    
    &:hover {
      transform: rotate3d(0, 0, 0, 0);
    }
  }

  #card-4-4 {
    background-color: rgb(255, 98, 98);
    border-top: 2px black dashed;
    transform: rotate3d(10, -7, 2, 65deg);

    h1 {
      color: white;
    }
    
    &:hover {
      transform: rotate3d(0, 0, 0, 0);
    }
  }
  
  div {
    cursor: url('../images/sphere.png'), auto;
    margin: 0.25rem;
    height: 10rem;
    transition: 0.2s all ease-in;

    h1 {
      background: none;
      font-size: 1rem;
      padding: 1rem;
    }
  }
}

#card-div-5 {
  margin-top: 5rem;
  margin-bottom: 5rem;
  width: 500px;
  height: 309px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid purple;
  
  div {
    margin: 0;
    padding: 0;
    border: 1px solid black;
    transition: 0.2s all;
    
    

    
    // 1.618

    // transform: rotate(45deg);

    &:hover {
      box-shadow: inset 4px 4px 2px rgba(0, 0, 0, 0.356);
    }
  }
}