@font-face {
  font-family: Terminal;
  src: url("./fonts/clacon2.ttf");
}
button {
  cursor: pointer;
}

body {
  margin: 0;
  background-color: #dddddd;
  color: #575757;
  font-family: "Inter";
  display: flex;
  flex-direction: column;
  align-items: center;
}
body div {
  margin: 0;
  height: 20vh;
  width: 60%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}
body #byline {
  margin: 0;
  font-size: 12px;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}
body #byline a {
  font-weight: bold;
  cursor: pointer;
  font-style: italic;
}
body #byline a:hover {
  text-decoration: underline;
}
body #byline a img {
  height: 15px;
  padding: 3px;
}

#btn-div-1 > button {
  width: 10rem;
  height: 3rem;
  margin: 1rem;
  padding: 0.5rem;
  font-family: "Inter";
  font-weight: bold;
  border: 1px black solid;
  background-color: rgba(0, 0, 0, 0);
  cursor: pointer;
  border-radius: 2px;
  transition: 0.2s all;
}
#btn-div-1 > button:hover {
  background-color: rgba(0, 0, 0, 0.2);
}
#btn-div-1 > button:active {
  background-color: rgba(0, 0, 0, 0.4);
  transition: 0s all;
}

h1 {
  margin: 0;
  color: #1b1b1b;
  font-family: "IBM Plex Sans";
  font-size: 4rem;
  text-align: center;
  margin-bottom: 1rem;
}

hr {
  margin: 0;
  height: 0.5px;
  width: 40vw;
  background-color: black;
  border: none;
}

#input-div-1 {
  justify-content: center;
  z-index: 0;
  position: relative;
  width: 20rem;
}
#input-div-1 input[type=text] {
  position: absolute;
  background: transparent;
  border: 1px solid black;
  z-index: 1;
  font-family: #575757;
  font-size: 2rem;
  height: 2.5rem;
  width: 100%;
  border-radius: 2px;
  opacity: 0.6;
}
#input-div-1 input[type=text]:focus {
  outline: none;
}
#input-div-1 p {
  width: 100%;
  text-align: left;
  position: absolute;
  color: #282883;
  font-size: 2rem;
  padding: 0.25rem;
  transition: 0.2s all;
  z-index: -1;
}
#input-div-1:focus-within p {
  transform-origin: left;
  transform: translateY(-50%) scale(0.5);
}
#input-div-1:focus-within input[type=text] {
  opacity: 1;
}

#btn-div-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#btn-div-2 button {
  font-family: Terminal;
  width: 6rem;
  height: 1.5rem;
  font-size: 1rem;
  border-left: #f2eee5 2px solid;
  border-top: #f2eee5 2px solid;
  background-color: #d4d0c7;
  border-bottom: #524e45 2px solid;
  border-right: #524e45 2px solid;
}
#btn-div-2 button:active {
  border-bottom: #f2eee5 2px solid;
  border-right: #f2eee5 2px solid;
  border-left: #524e45 2px solid;
  border-top: #524e45 2px solid;
}
#btn-div-2 button span {
  text-decoration: underline;
}

#btn-div-3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#btn-div-3 div {
  width: 8rem;
  height: 3rem;
  position: relative;
}
#btn-div-3 div .button-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  border: 1px solid black;
  box-sizing: border-box;
}
#btn-div-3 div button {
  box-sizing: border-box;
  background-color: black;
  border: 1px solid black;
  font-family: "Inter";
  font-size: 1rem;
  color: white;
  font-weight: lighter;
  letter-spacing: 1px;
  height: 100%;
  width: 100%;
  outline: none;
  transform: translate(-4px, -4px);
  transition: 0.2s all;
}
#btn-div-3 div button:hover {
  transform: translate(-2px, -2px);
  color: #777;
}
#btn-div-3 div button:active {
  transform: translate(0px, 0px);
}

#crosshairs-div {
  background: black;
  height: min-content;
  width: min-content;
}

#btn-div-4 div {
  height: 35px;
  width: 37px;
  cursor: pointer;
  border: 1px solid black;
}
#btn-div-4 div:hover > #three-bar-menu {
  width: 0;
}
#btn-div-4 div:hover > #three-bar-menu::after {
  transform: rotate(45deg);
}
#btn-div-4 div:hover > #three-bar-menu::before {
  transform: rotate(-45deg);
}
#btn-div-4 #three-bar-menu {
  height: 2px;
  width: 26px;
  background-color: black;
  position: relative;
  border: none;
  border-radius: 1px;
  transition: 0.2s all;
}
#btn-div-4 #three-bar-menu::after {
  height: 2px;
  width: 26px;
  content: "";
  display: block;
  background: black;
  transform: translateY(10px);
  position: absolute;
  border-radius: 1px;
  transition: 0.2s all;
}
#btn-div-4 #three-bar-menu::before {
  height: 2px;
  width: 26px;
  content: "";
  display: block;
  background: black;
  transform: translateY(-10px);
  position: absolute;
  border-radius: 1px;
  transition: 0.2s all;
}
#btn-div-4 #up-and-down {
  border: none;
  position: relative;
  transition: 0.2s all;
}
#btn-div-4 #up-and-down::after {
  height: 2px;
  width: 20px;
  border-radius: 4px;
  background-color: black;
  content: "";
  position: absolute;
  transform: translateX(-7px) rotate(45deg);
}
#btn-div-4 #up-and-down::before {
  height: 2px;
  width: 20px;
  border-radius: 4px;
  background-color: black;
  content: "";
  position: absolute;
  transform: translateX(7px) rotate(-45deg);
}
#btn-div-4 #up-and-down:hover {
  transform: rotate(180deg);
}

#btn-div-5 button {
  background: none;
  border: none;
  font-family: "Inter";
  font-size: 2rem;
  position: relative;
}
#btn-div-5 button:focus {
  outline: none;
}
#btn-div-5 button::after {
  height: 2px;
  content: "";
  display: block;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  background: black;
  transition: 0.2s all ease-out;
}
#btn-div-5 button:hover::after {
  width: 100%;
}

#btn-div-6 div {
  height: min-content;
  width: min-content;
}
#btn-div-6 div div {
  height: 2.5rem;
  width: 8rem;
  position: absolute;
  border: 1px black solid;
  transition: 0.2s all;
  opacity: 1;
  transform: scale(1);
  border-radius: 5px;
}
#btn-div-6 div:hover div {
  transform: scale(125%);
  opacity: 0;
}
#btn-div-6 div:hover button {
  transform: scale(110%);
}
#btn-div-6 div button {
  position: absolute;
  height: 2.5rem;
  width: 8rem;
  font-family: "Inter";
  font-weight: bold;
  font-size: 1rem;
  border: none;
  z-index: 0;
  border-radius: 5px;
  background: none;
  transition: 0.2s all;
}
#btn-div-6 div button:active {
  transform: scale(90%);
}

#btn-div-7 > div {
  height: 100px;
  width: 100px;
  overflow: visible;
}
#btn-div-7 > div > div {
  background-color: rgba(0, 0, 0, 0.1);
  height: 50px;
  width: 50px;
  position: absolute;
  border-radius: 50%;
}
#btn-div-7 > div p {
  color: black;
  background-color: #dddddd;
  box-sizing: border-box;
  border: 2px solid black;
  height: 50px;
  width: 50px;
  text-align: center;
  line-height: 50px;
  font-family: "Inter";
  font-size: 2.2rem;
  position: absolute;
  cursor: pointer;
  transition: 0.2s all;
  border-radius: 50%;
}
#btn-div-7 > div p:hover {
  transform: translate(-5px, -5px);
}

#card-div-1 {
  height: 20rem;
}
#card-div-1 > div {
  filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.363));
}
#card-div-1 > div > div {
  width: 500px;
  background-color: rgba(187, 49, 49, 0.658);
  background-size: cover;
  height: 200px;
  transition: clip-path 0.2s;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 100% 100%, 0 100%, 0 0);
  box-shadow: 0px 0px 10px black;
}
#card-div-1 > div > div:hover {
  clip-path: polygon(80px 20px, 440px 20px, 440px 160px, 400px 95%, 40px 95%, 40px 50px);
}
#card-div-1 > div > div:hover div {
  transform: scale(0.75);
}
#card-div-1 > div > div > div {
  font-family: "Inter";
  transition: 0.2s all;
  width: 70%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
#card-div-1 > div > div > div h1 {
  margin: 0;
  color: #bebebe;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
  transition: 0.2s all;
}
#card-div-1 > div > div > div p {
  margin: 0;
  color: #bebebe;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
  transition: 0.2s all;
}

#btn-div-8 button {
  background-color: transparent;
  border: none;
  font-size: 1rem;
  font-family: "Inter";
  padding: 1rem;
  padding-top: 0;
  padding-bottom: 0;
  border-bottom: 2px solid transparent;
  transition: 0.2s all;
  transform-origin: left;
}
#btn-div-8 button:hover {
  transform: translateY(-5px);
  border-bottom-color: #eb9800;
  background-color: whitesmoke;
}
#btn-div-8 button:active {
  transform: translateY(4px);
}

#card-div-2 {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  height: unset;
  width: 70%;
  margin-top: 5rem;
  margin-bottom: 5rem;
}
#card-div-2 div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  border: 1px solid black;
  height: 10rem;
  width: 20rem;
  margin: 1rem;
  background-color: #dadada;
  transition: 0.1s all;
  cursor: pointer;
  box-sizing: border-box;
  box-shadow: 4px 4px 0px black;
}
#card-div-2 div h1 {
  padding-left: 1rem;
  padding-right: 1rem;
  text-transform: uppercase;
  font-size: 2rem;
  margin-bottom: 0.5rem;
}
#card-div-2 div p {
  color: #1b1b1b;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-top: 0.5rem;
  font-size: 1rem;
}
#card-div-2 div hr {
  height: 2px;
  background-color: yellow;
  border-right: 5px solid black;
  width: 25%;
  margin-left: 1rem;
  transition: 0.3s all;
}
#card-div-2 div:hover {
  transform: translate(0px, -5px);
}
#card-div-2 div:hover hr {
  width: 50%;
}

#card-div-3 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  width: 70%;
  height: unset;
  margin-top: 5rem;
  margin-bottom: 5rem;
}
#card-div-3 div {
  height: unset;
  width: unset;
  display: flex;
  flex-direction: column;
  border: 1px black solid;
  border-left: 4px solid black;
  transition: 0.2s all;
  background-image: linear-gradient(-25deg, #d4ffd4, #93f793);
  margin: 1rem;
}
#card-div-3 div h1 {
  text-align: right;
  width: 100%;
  padding-right: 1rem;
  height: unset;
  font-size: 3rem;
  margin: 1rem;
  margin-top: 1rem;
  margin-bottom: 0;
  color: black;
}
#card-div-3 div h1::selection {
  background: none;
}
#card-div-3 div:hover {
  border-left: 20px black solid;
}
#card-div-3 div p {
  text-align: right;
  width: 100%;
  padding-right: 1rem;
  height: unset;
  font-size: 0.75rem;
  margin: 1rem;
  margin-top: 0;
  margin-bottom: 1rem;
  transition: 0.2s all;
}
#card-div-3 div p:hover {
  text-decoration: underline;
  cursor: url("../images/arrow-right.png"), auto;
}
#card-div-3 div p::selection {
  background: none;
}

#card-div-4 {
  height: unset;
  width: 70%;
  margin-top: 5rem;
  margin-bottom: 5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
#card-div-4 #card-4-1 {
  background-color: #ffff75;
  border-left: 2px black dashed;
  transform: rotate3d(-1, 7, -5, 80deg);
}
#card-div-4 #card-4-1:hover {
  transform: rotate3d(0, 0, 0, 0);
}
#card-div-4 #card-4-2 {
  background-color: #71ff71;
  border-bottom: 2px black dashed;
  transform: rotate3d(5, -6, 2, 50deg);
}
#card-div-4 #card-4-2:hover {
  transform: rotate3d(0, 0, 0, 0);
}
#card-div-4 #card-4-3 {
  background-color: #2929ff;
  border-left: 2px black dashed;
  transform: rotate3d(12, 1, -7, 80deg);
}
#card-div-4 #card-4-3 h1 {
  color: white;
}
#card-div-4 #card-4-3:hover {
  transform: rotate3d(0, 0, 0, 0);
}
#card-div-4 #card-4-4 {
  background-color: #ff6262;
  border-top: 2px black dashed;
  transform: rotate3d(10, -7, 2, 65deg);
}
#card-div-4 #card-4-4 h1 {
  color: white;
}
#card-div-4 #card-4-4:hover {
  transform: rotate3d(0, 0, 0, 0);
}
#card-div-4 div {
  cursor: url("../images/sphere.png"), auto;
  margin: 0.25rem;
  height: 10rem;
  transition: 0.2s all ease-in;
}
#card-div-4 div h1 {
  background: none;
  font-size: 1rem;
  padding: 1rem;
}

#card-div-5 {
  margin-top: 5rem;
  margin-bottom: 5rem;
  width: 500px;
  height: 500px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
#card-div-5 > div {
  transform: translate(0, 0) rotate(0deg);
}
#card-div-5 div {
  margin: 0;
  padding: 0;
  border: 1px solid black;
  transition: 0.2s all;
  overflow: hidden;
  height: 90%;
  width: 90%;
  transition: 0.3s all ease-in-out;
  height: 90%;
  width: 90%;
  transform: translate(5px, 5px) rotate(10deg);
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.5);
  transform: rotate(10deg);
  box-shadow: inset 4px 4px 2px rgba(0, 0, 0, 0.356);
}

#header-div-1 {
  width: 100%;
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='black' stroke-width='4' stroke-dasharray='6%2c 14' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
  height: 80px;
  margin: 4rem;
  margin-left: 0;
  margin-right: 0;
  display: grid;
  grid-template-columns: 7fr 5fr;
  box-sizing: border-box;
}
#header-div-1 div {
  margin: 0;
  padding: 0;
  height: 50%;
  box-sizing: border-box;
  justify-self: center;
  width: 100%;
  align-self: center;
}
#header-div-1 div:hover > #three-bar-menu {
  width: 0;
}
#header-div-1 div:hover > #three-bar-menu::after {
  transform: rotate(45deg);
}
#header-div-1 div:hover > #three-bar-menu::before {
  transform: rotate(-45deg);
}
#header-div-1 p {
  padding: 1rem;
  justify-self: center;
  align-self: center;
  cursor: pointer;
  transition: 0.3s all;
}
#header-div-1 p:hover {
  color: black;
}
#header-div-1 #signin {
  border: 2px solid black;
  border-radius: 10px;
  margin: 0;
  padding: 0.5rem;
  padding-left: 2rem;
  padding-right: 2rem;
}
#header-div-1 h3 {
  padding-left: 1rem;
}
#header-div-1 #three-bar-menu {
  height: 2px;
  width: 26px;
  background-color: black;
  position: relative;
  border: none;
  border-radius: 1px;
  transition: 0.2s all;
}
#header-div-1 #three-bar-menu::after {
  height: 2px;
  width: 26px;
  content: "";
  display: block;
  background: black;
  transform: translateY(10px);
  position: absolute;
  border-radius: 1px;
  transition: 0.2s all;
}
#header-div-1 #three-bar-menu::before {
  height: 2px;
  width: 26px;
  content: "";
  display: block;
  background: black;
  transform: translateY(-10px);
  position: absolute;
  border-radius: 1px;
  transition: 0.2s all;
}

#btn-div-9 {
  position: relative;
}
#btn-div-9 div {
  height: 20px;
  width: 20px;
  position: relative;
  transform: rotate(90deg);
  cursor: pointer;
  transition: 0.2s all;
}
#btn-div-9 div img {
  height: 100%;
  width: 100%;
}
#btn-div-9 #arrow-menu {
  position: absolute;
  top: 60%;
  background-color: #dddddd;
  border: 1px solid black;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.192);
}
#btn-div-9 #arrow-menu li {
  padding-right: 1rem;
  color: black;
}
#btn-div-9 #arrow-menu li:hover {
  cursor: pointer;
  text-decoration: underline;
}
#btn-div-9 .arrow-active {
  transform: rotate(180deg);
}
#btn-div-9 .arrow-inactive {
  transform: rotate(90deg);
}
#btn-div-9 .menu-visible {
  display: block;
}
#btn-div-9 .menu-invisible {
  display: none;
}

/*# sourceMappingURL=style.css.map */
